/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <../boards/shields/kyria/boards/nice_nano.overlay>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define SYM 1
#define EXT 2
#define FN  3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp ESC   &kp Q     &kp W     &kp F     &kp P     &kp B                                                     &kp J     &kp L     &kp U     &kp Y     &kp SEMI  &kp BSLH
    &kp TAB   &kp A     &kp R     &kp S     &kp T     &kp G                                                     &kp M     &kp N     &kp E     &kp I     &kp O     &kp SQT
    &kp LSHFT &kp Z     &kp X     &kp C     &kp D     &kp V &rgb_ug RGB_TOG &rgb_ug RGB_HUI &kp LSHFT &kp LSHFT &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH  &kp RCTRL
                                  &kp LGUI  &kp DEL   &kp RET   &kp LSHFT &kp BSPC          &kp RET   &kp SPACE &kp TAB   &kp BSPC  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        sym_layer {
            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans                                                    &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans                                                    &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
                                  &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        ext_layer {
            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans                                                    &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans                                                    &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
                                  &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        fn_layer {
            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans                                            &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans                                            &trans    &trans    &trans    &trans    &trans    &trans    
    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
                                  &trans    &trans    &trans    &trans    &trans            &trans    &trans    &trans    &trans    &trans    
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
