/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp TAB   &kp Q &kp W &kp F &kp P &kp B                                                 &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSLH
	&kp LCTRL &kp A &kp R &kp S &kp T &kp G                                                 &kp M &kp N  &kp E     &kp I   &kp O    &kp SQT
	&kp LCTRL &kp Z &kp X &kp C &kp D &kp V    &kp ESC   &none          &kp LSHFT &kp LSHFT &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp MINUS
	                 &kp LGUI &kp DEL &tog EXT &kp LSHFT &kp BSPC       &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
			>;
		};
	};
};
